@use '../utils' as *;

  /*
 ::::::::::::::::::::::::::
  ABOUT AREA CSS
 ::::::::::::::::::::::::::
 */

//====  about style 1 ====

.about1 {
  .about-image {
    position: relative;

    .image1 {
      position: absolute;
      left: 0;
      top: 0;
    }
    .image2 {
      margin-left: 150px;
    }

    .icon-box {
      background-color: var(--ztc-bg-main-bg-1);
      padding: 16px 20px;
      border-radius: 7px;
      width: 200px;
      text-align: center;
      position: absolute;
      bottom: 50px;

      h4 {
        font-size: var(--f-fs-font-fs24);
        line-height: var(--f-fs-font-fs24);
        font-weight: var(--f-fw-blod);
        color: var(--ztc-bg-color-w);
        padding: 16px 0px;
      }

      p {
        font-size: var(--f-fs-font-fs16);
        line-height: var(--f-fs-font-fs28);
        font-weight: var(--f-fw-regular);
        color: var(--ztc-bg-color-w);
      }
    }
  }

  .heading1 {
    padding-left: 30px;

    @media #{$md} {
      padding-left: 0;
      padding-top: 30px;
    }

    @media #{$xs} {
      padding-left: 0;
      padding-top: 80px;
    }

    .list {

      @media #{$xs} {
        margin-bottom: 10px;
      }

      li {
        font-size: var(--f-fs-font-fs20);
        line-height: var(--f-fs-font-fs20);
        font-weight: var(--f-fw-semibold);
        color: var(--ztc-text-text-1);
        padding-top: 20px;
        display: flex;
        align-items: center;

        @media #{$xs} {
          line-height: var(--f-fs-font-fs28);
          display: block;
        }

        span {
          display: inline-block;
          height: 20px;
          width: 20px;
          text-align: center;
          line-height: 20px;
          background-color: var(--ztc-bg-main-bg-1);
          border-radius: 50%;
          font-size: 12px;
          color: var(--ztc-bg-color-w);
          margin-top: -0px;
          margin-right: 10px;
        }
      }
    }
  }
}

//====  about style 1 ====

//====  about style 2 ====

.about2 {

  @media #{$md} {
    padding-top: 100px;
  }

  @media #{$xs} {
    padding-top: 60px;
  }

  .about2-images {
    position: relative;
    height: 500px;
    text-align: center;

    @media #{$xs} {
      height: 600px;
    }

    .image1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;

      @media #{$xs} {
        position: absolute;
        top: 140px;
        left: 0;
        z-index: 9;
      }
    }

    .image2 {
      padding-top: 50px;

      @media #{$xs} {
        padding-top: 50px;
        position: absolute;
        bottom: 50px;
      }
    }

    .image3 {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
    }

    .counter-box {
      background-color: var(--ztc-bg-main-bg-4);
      width: 200px;
      padding: 20px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;

      h3 {
        font-size: var(--f-fs-font-fs44);
        line-height: var(--f-fs-font-fs52);
        color: var(--ztc-text-text-1);
        font-weight: var(--f-fw-blod);
      }

      p {
        text-align: start;
        padding-left: 16px;
        font-size: var(--f-fs-font-fs16);
        line-height: var(--f-fs-font-fs24);
        font-weight: var(--f-fw-regular);
        color: var(--ztc-text-text-1);
      }
    }
  }

  .porgress-line-all {
    background-color: var(--ztc-bg-bg-4);
    border: 1px solid var(--ztc-bg-bg-5);
    border-radius: 7px;
    padding: 32px;
    margin-top: 20px;
    .progress-line {
      margin-top: 32px;
      position: relative;

      &:nth-child(1) {
        margin-top: 0;
      }

      h6 {
        color: var(--ztc-bg-color-w);
        font-size: var(--f-fs-font-fs20);
        line-height: var(--f-fs-font-fs20);
        font-weight: var(--f-fw-blod);
      }
      .percentCount {
        position: absolute;
        right: 0;
        top: 0;
        color: var(--ztc-bg-color-w);
        font-size: var(--f-fs-font-fs16);
        line-height: var(--f-fs-font-fs16);
        font-weight: var(--f-fw-regular);
      }

      .progressbar {
        margin-top: 20px;
        color: red;
      }
    }
  }

  .heading2 {
    padding-left: 30px;

    @media #{$md} {
      padding-left: 0;
      padding-top: 40px;
    }

    @media #{$xs} {
      padding-left: 0;
      padding-top: 40px;
    }
  }

  &.about-page-sec {
    .porgress-line-all {
      background: #F8F9FA;
      border: none;

      .progress {
        height: 10px;

        .progress-bar {
          background: var(--ztc-bg-main-bg-1);
        }
    }

      .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 12px;
      }

      h6 {
        color: var(--ztc-text-text-1);
        font-size: var(--f-fs-font-fs20);
        line-height: var(--f-fs-font-fs20);
        font-weight: var(--f-fw-blod);
      }
    }

    .counter-box {
      background-color: var(--ztc-bg-main-bg-1);
      width: 200px;
      padding: 20px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;

      h3 {
        font-size: var(--f-fs-font-fs44);
        line-height: var(--f-fs-font-fs52);
        color: #fff;
        font-weight: var(--f-fw-blod);
      }

      p {
        text-align: start;
        padding-left: 16px;
        font-size: var(--f-fs-font-fs16);
        line-height: var(--f-fs-font-fs24);
        font-weight: var(--f-fw-regular);
        color: #fff;
      }
    }

  }
}

//====  about style 2 ====

//====  about style 3 ====

.about3 {
  .about3-images {
    margin-left: 50px;

    @media #{$md} {
      margin-left: 0;
      margin-top: 30px;
    }

    @media #{$xs} {
      margin-left: 0;
      margin-top: 30px;
    }

  }

  .about3-box {
    margin-top: 30px;
  }

  .cs_case_study.cs_style_1.cs_hover_active {
    @media #{$xs} {
      margin-top: 30px;
    }
  }
}

//====  about style 3 ====

//====  about style 4 ====

.about4 {
  .images {
    position: relative;
    height: 560px;
    text-align: center;

    .img1 {
      position: absolute;
      z-index: -3;
    }

    .img2 {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 4;
      @media #{$xs} {
        display: none;
      }
    }
    .img3 {
      position: absolute;
      right: 125px;
      top: 0;
      z-index: 2;
    }
    .img4 {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
    .img5 {
      position: absolute;
      right: 40px;
      top: 60px;
      z-index: 7;
    }
  }

  .counter-box {
    text-align: start;
    border-right: 2px solid rgba(86, 95, 118, 0.096);

    @media #{$xs} {
      text-align: start;
    }
    h3 {
      color: var(--ztc-bg-main-bg-2);
      font-size: var(--f-fs-font-fs56);
      line-height: var(--f-fs-font-fs56);
      font-weight: var(--f-fw-blod);
    }

    p {
      padding-top: 6px;
    }
  }

  .list {

    
    @media #{$xs} {
      margin: 16px 0px;
    }

    li {
      font-size: var(--f-fs-font-fs20);
      line-height: var(--f-fs-font-fs20);
      font-weight: var(--f-fw-semibold);
      color: var(--ztc-text-text-1);
      padding: 5px 0px;

      span {
        display: inline-block;
        margin-right: 6px;
        height: 20px;
        width: 20px;
        font-size: 12px;
        background-color: var(--ztc-bg-main-bg-2);
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        color: var(--ztc-bg-color-w);
      }
    }
  }

  .heading4 {
    padding-left: 30px;

    @media #{$md} {
      padding-left: 0;
      margin-top: 30px;
    }

    @media #{$xs} {
      padding-left: 0;
      margin-top: 30px;
    }
  }
}

//====  about style 4 ====
 
.about-solution {
  .images {
    img {
      width: 100%;
      border-radius: 7px;
    }
  }
  .item-box {
    .icon {
      background: #E7EBF7 !important;
    }
  }

  .heading1 {
    padding-left: 30px;
    @media #{$md} {
      padding-left: 0;
    }
    @media #{$xs} {
      padding-left: 0;
    }
  }
}


//====  about page style ====

.about-tabs {
  .tab-header-all {
    background-color: #fff;
    padding: 12px 24px;
    border-radius: 240px;
    margin-top: 60px;

    @media #{$md} {
      border-radius: 4px;
    }
    @media #{$xs} {
      border-radius: 4px;
    }

    li {
        button {
            color: var(--Text-Color, #0D0E10);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px; /* 100% */
            padding: 16px 44px;
            border-radius: 144px;
            background-color: #F8F9FA;
            margin: 12px 10px 12px 10px;
        }

        button.active {
            background-color: var(--ztc-bg-main-bg-1);
            color: #fff;
        }
    }
  }

  .tab-content-box {
    background-color: #fff;
    border-radius: 7px;
    padding: 55px 32px;

    .heading1 {
      h5 {
        color: var(--Text-Color, #0D0E10);
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 100% */
      }
      p {
        span.text {
          color: var(--ztc-bg-main-bg-1);
          font-weight: var(--f-fw-semibold);
        }
      }
    }
  }
}

//====  about page style ====

   /*
 ::::::::::::::::::::::::::
  ABOUT AREA CSS
 ::::::::::::::::::::::::::
 */

 /*--------------------------------------------------------------
  19. Casestudie
----------------------------------------------------------------*/
.cs_case_study_1_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .cs_case_study_1_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.cs_case_study_1_list > .cs_case_study.cs_style_1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.cs_case_study_1_list .cs_case_study.cs_style_1 {
  min-height: 400px;
}
.cs_case_study_1_list .cs_case_study.cs_style_1 .cs_case_study_in {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 80px;
  opacity: 0;
}
@media (max-width: 767px) {
  .cs_case_study_1_list .cs_case_study.cs_style_1 .cs_case_study_in {
    left: 0;
    opacity: 1;
  }
}
.cs_case_study_1_list .cs_case_study.cs_style_1.active {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.cs_case_study_1_list .cs_case_study.cs_style_1.active .cs_case_study_in {
  opacity: 1;
  left: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.cs_case_study_1_list .cs_case_study.cs_style_1.active .cs_case_study_icon {
  -webkit-transform: scale(0) rotate(360deg);
          transform: scale(0) rotate(360deg);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.cs_case_study.cs_style_1 {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 1400px) {
  .cs_case_study.cs_style_1 {
    height: 600px;
  }
}
.cs_case_study.cs_style_1 .cs_case_study_title a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 3px;
}
.cs_case_study.cs_style_1 .cs_case_study_number {
  left: 70px;
  top: 70px;
  z-index: 1;
}
@media (max-width: 767px) {
  .cs_case_study.cs_style_1 .cs_case_study_number {
    left: 30px;
    top: 40px;
  }
}
.cs_case_study.cs_style_1 .cs_case_study_category {
  margin-bottom: 15px;
}
.cs_case_study.cs_style_1 .cs_case_study_thumb {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.cs_case_study.cs_style_1 .cs_case_study_in {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 88px 72px;
}
@media (max-width: 1400px) {
  .cs_case_study.cs_style_1 .cs_case_study_in {
    padding: 50px;
  }
}
@media (max-width: 767px) {
  .cs_case_study.cs_style_1 .cs_case_study_in {
    padding: 30px;
  }
}
.cs_case_study.cs_style_1 .cs_case_study_icon {
  left: 70px;
  bottom: 86px;
  z-index: 1;
  background-color: #4f4747;
  color: #fff;
  height: 55px;
  width: 55px;
  font-size: 20px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
@media (max-width: 1400px) {
  .cs_case_study.cs_style_1 .cs_case_study_icon {
    left: 40px;
    bottom: 50px;
  }
}
@media (max-width: 767px) {
  .cs_case_study.cs_style_1 .cs_case_study_icon {
    display: none;
  }
}

.cs_case_study_thumb {
  background-image: url(../img/about/about3-image1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cs_case_study_thumb.cs_case_study_thumb2 {
  background-image: url(../img/about/about3-image2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cs_case_study_thumb.cs_case_study_thumb3 {
  background-image: url(../img/about/about3-image3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cs_case_study.cs_style_1.cs_hover_active {
  margin: 0px 12px;
  border-radius: 55px;
  height: 550px;
}


.about-page-team {
  .team-box {
    .heading1 {
      h4 {
        a {
          font-size: var(--f-fs-font-fs24);
        }
      }
    }
    .icon-area {
      ul {
        li {
          a {
            &:hover {
              background: var(--ztc-bg-main-bg-1) !important;
              color: #fff !important;
            }
          }
        }
      }
    }
  }
}

.bg1 {
  background-color: #F8F9FA;
}