@use '../utils' as *;

  /*
 ::::::::::::::::::::::::::
  OTHERS AREA CSS
 ::::::::::::::::::::::::::
 */

// === solution sytle 2 ===

.solution {
  .item-box {
    display: flex;
    align-items: start;
    margin-top: 30px;
    .icon {
      margin-right: 20px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      text-align: center;
      line-height: 60px;
      background-color: #a1e93418;
      transition: all .4s;
      img {
        height: auto;
        transition: all .4s;
      }
    }

    &:hover {
      .icon {
        background-color: var(--ztc-bg-main-bg-4);
        transition: all .4s;

        img {
          filter: brightness(0);
          transition: all .4s;
        }
      }
    }
  }

  .solution-images {
    text-align: center;
    height: 500px;
    position: relative;

    @media #{$md} {
      margin-top: 40px;
    }
    @media #{$xs} {
      margin-top: 40px;
    }

    .image1 {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9;
    }
    .image2 {
      padding-top: 50px;
    }
    .image3 {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

// === solution sytle 2 ===

// === project sytle 4 ===

.project4 {
  background-color: var(--ztc-bg-bg-1);
  .image-area {
    position: relative;
    overflow: hidden;
    border-radius: 7px;

    @media #{$xs} {
      height: 300px;
    }

    .heading4-w {
      position: absolute;
      bottom: 30px;
      left: 30px;
      right: 30px;
      opacity: 0;
      transform: translateY(40px);
      transition: all .4s;
      z-index: 9;
    }

    &:hover {
      .heading4-w {
        opacity: 1;
        transform: translateY(0);
        transition: all .4s;
      }

      &::after {
        opacity: 1;
        transform: translateY(0);
        transition: all .4s;
      }

      
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(187deg, rgba(0, 0, 0, 0.00) 49.94%, rgba(0, 0, 0, 0.80) 72.55%), url(<path-to-image>) rgba(211, 211, 211, 0) 50% / cover no-repeat;
      transform: translateY(50px);
      opacity: 0;
      transition: all .4s;
    }
  }

  .image-area.active {
    .heading4-w {
      opacity: 1;
      transform: translateY(0);
      transition: all .4s;
    }

    &::after {
      opacity: 1;
      transform: translateY(0);
      transition: all .4s;
    }
  }

  .image {
    margin-top: 30px;
    img {
      width: 100%;
    }
  }
}

// === project sytle 4 ===

// === project page style ===

.project-page-box {
  position: relative;
  margin-bottom: 40px;

  .image {
    overflow: hidden;
    border-radius: 7px;
    img {
      width: 100%;
      transition: all .4s;
    }
  }
  .heading2 {
    padding: 24px;
    border-radius: 7px;
    background-color: var(--ztc-bg-main-bg-1);
    position: absolute;
    bottom: 24px;
    margin: 0px 24px;
    transform: translateY(60px) scale(0.4);
    opacity: 0;
    transition: all .4s;


    h4 {
      a {
        line-height: 28px;

        &:hover {
          color: #fff;
        }
      }
    }

    a.learn {
      display: inline-block;
      color: #fff;
      font-size: var(--f-fs-font-fs16);
      line-height: var(--f-fs-font-fs16);
      font-weight: var(--f-fw-blod);

      span {
        display: inline-block;
        transform: rotate(-45deg);
        margin-top: 16px;
      }
    }
  }

  &:hover {
    .heading2 {
      opacity: 1;
      transform: translateY(0) scale(1);
      transition: all .4s;
    }
    .image {
      img {
        transition: all .4s;
        transform: scale(1.1) rotate(2deg);
      }
    }
  }
}

// === project page style ===


   /*
 ::::::::::::::::::::::::::
  OTHERS AREA CSS
 ::::::::::::::::::::::::::
 */